body{
    font-family:'Titillium Web', sans-serif;
}
nav{
    background-color:#66564c!important;  
}
.background{
    background-image: url('../Images/img.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100vh ;
}
h1{
    color: #fff;
}
a{
    display: inline-block;
    text-align: right;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
 }
 .bg{
   background-image: url('../Images/img2.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 92.5vh;
 }
 .shad{
    box-shadow: -5px 2px 54px -9px;
 }
 .linear{
    background-image: linear-gradient(to right,#d2848e,#C25C74);
 }